body {
	text-align: left;
	background: url("images/Hero_3.jpg");
	background-size: cover;
	color: #fff
	font-family:"Courier New", Courier, monospace;
}
h1 {
	font-weight: bold;
	font-size: 50px; 
	color: #FFC0CB
}

li {
	color: #FFC0CB; 
	font-size: 50px;
	font-weight: bold;
}
hr {
	width: 50px;
}
p {
	font-size: 24px;
	font-style: italic;

}